APP_NAME=CTFG
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

DB_HOST2=127.0.0.1
DB_PORT2=3306
DB_DATABASE2=
DB_USERNAME2=
DB_PASSWORD2=

AIRTABLE_KEY=pat7xVbaxTgytWSek.043cece7d3abb9259ec92d208d4dcd680af931471ed002afb2e5ba9aa6e794a5
AIRTABLE_BASE=app8ZvkAhRrVsD9eQ
